custom-elements/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
  xmlns:spring="http://www.springframework.org/schema/beans" 
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

  <http:listener-config name="http8081" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>

  <flow name="main">
    <http:listener config-ref="http8081" path="/component" doc:name="HTTP"/>
    <choice doc:name="Choice">
      <when expression="#[message.inboundProperties.'http.query.params'.type == 'map']">
        <set-payload value="#[{'message' : 'i am a map'}]" doc:name="Set Map Payload"/>
        <flow-ref name="componentExample" doc:name="component Example"/>
      </when>
      <when expression="#[message.inboundProperties.'http.query.params'.type == 'array']">
        <set-payload value="#[['i am an array node']]" doc:name="Set Array Payload"/>
                <set-variable variableName="method" value="#['processArray']" doc:name="Set method"/>
        <flow-ref name="componentExample" doc:name="component Example"/>
      </when>
      <when expression="#[message.inboundProperties.'http.query.params'.type == 'string']">
        <set-payload value="#['i am a string']" doc:name="Set String Payload"/>
        <flow-ref name="componentExample" doc:name="componentExample"/>
      </when>
      <otherwise>
                <set-payload value="#[{'message' : 'Could not locate the queryparam '}]" doc:name="Set Payload"/>
      </otherwise>
    </choice>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
  </flow>

  <flow name="componentExample">
        <component doc:name="Java Custom Component">
            <singleton-object class="com.mulesoft.training.MuleComponent"/>
        </component>
        <component class="com.mulesoft.training.muleLifecycleComponent" doc:name="Java Lifecycle Compoent"/>
  </flow>

</mule>
