maven-project/src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<spring:beans>
		<spring:bean id="Bean" name="Bean" class="com.mulesoft.training.Database" />
	</spring:beans>
	<db:derby-config name="Derby_Connector" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />
	<jms:activemq-connector name="Active_MQ_Local" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ" />
    <ee:object-store-caching-strategy name="Caching_Strategy" keyGenerationExpression="#[flowVars.flightCode]" doc:name="Caching Strategy">
        <managed-store storeName="flightsCache" maxEntries="5" entryTTL="15000" expirationInterval="1000"/>
    </ee:object-store-caching-strategy>
	<flow name="mavenFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/hello" allowedMethods="GET" doc:name="HTTP" />
		<set-payload value="#['Hello Maven']" doc:name="Set Payload" />
	</flow>
	<flow name="retrieveFlights">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="GET" doc:name="HTTP" />
        <set-variable variableName="flightCode" value="#[message.inboundProperties.'http.query.params'.code]" doc:name="Set test variable flightCode"/>
        <ee:cache cachingStrategy-ref="Caching_Strategy" doc:name="Cache">
            <logger message="#[flowVars.flightCode]" level="INFO" doc:name="Logger"/>
            <db:select config-ref="Derby_Connector" doc:name="Query Flights">
                <db:parameterized-query><![CDATA[Select * from flights]]></db:parameterized-query>
            </db:select>
        </ee:cache>
		<json:object-to-json-transformer doc:name="Object to JSON" />
        <set-property propertyName="#['Content-Type']" value="#['application/json']" doc:name="Set Content-Type"/>
		<jms:outbound-endpoint queue="flights" connector-ref="Active_MQ_Local" doc:name="Send to JMS" />
	</flow>
	<flow name="logFlightsFlow">
		<jms:inbound-endpoint queue="flights" connector-ref="Active_MQ_Local" doc:name="Receive from JMS" />
		<logger message="Receiving JMS - Loggin Payload" level="INFO" doc:name="Logger" />
		<logger message="#[payload]" level="INFO" doc:name="Log Payload" />
	</flow>
</mule>
